{% extends 'mainapp/base.html' %}
{% block content %}
    <h3>{{ title }}</h3>
    <ul>
        {% for product in products %}
           <p>{{ product.name }}</p>
            <img src="{{ product.image }}" alt="{{ product.image.name }}">
            <p>Цена: {{ product.price }}</p>
            <p>Описание товара</p>
            <p>{{ product.description }}</p>
            <a href="{% url 'basket:add' product.pk %}">Добавить в корзину</a>
            <br>
            <a href="{% url 'basket:remove' product.pk %}">Удалить из корзины</a>
        {% endfor %}
    </ul>
{% endblock %}